In [1]:
import pandas as pd

In [2]:
dataset = pd.read_csv("D:/SEMESTER-5/Workshop Analisis Media Sosial/Proyek Akhir/LinkedIn Job Search.csv")
dataset = dataset.drop(columns=["Unnamed: 15","Unnamed: 16"])

In [3]:
kota_list = ['Jakarta', 'Surabaya', 'Bandung', 'Cikarang', 'Denpasar', 'Batang', 'Yogyakarta', 'Malang',
              'Pontianak', 'Kendal', 'Muarajawa', 'Tangerang', 'Pekanbaru', 'Medan', 'Lampung', 'Kuta',
              'Ubud', 'Bali','Bekasi', "East Java"]

# Fungsi untuk mengganti lokasi dengan nama kota sesuai daftar kota
def ganti_kota(lokasi):
    if isinstance(lokasi, str):  
        for kota in kota_list:
            if kota in lokasi:
                return kota
    return lokasi

df = dataset.copy()
# Mengganti lokasi yang mengandung kota dengan nama kota yang sesuai
df['Company Location'] = df['Company Location'].apply(ganti_kota)
df['Company Location'] = df["Company Location"].replace(to_replace="East Java", value="Jawa Timur")
df['Company Location'] = df["Company Location"].replace(to_replace="East Java", value="Jawa Timur")
df

,Job Title,Company Name,Location,URL,Company Location,company size,Industry_stats,Job Qualifications,Job Skills,Job Skills.1,Job Skills.2,Profile,Skills,Type,Work Hours
0,Python Machine Learning Developer,Demandlane,13 applicants,https://www.linkedin.com/jobs/search/?currentJ...,Indonesia,11-50 employees,Legal Services 11-50 employees 25 on LinkedIn,"AWS Lambda, Amazon Redshift, Amazon Web Servic...",1 school alum works here,5+ years of work experience with Machine Learning,"Skills: Pandas (Software), TensorFlow, +8 more",Demandlane,5+ years of work experience with Machine Learning,Remote,Full-time
1,Python Machine Learning Developer,Demandlane,13 applicants,https://www.linkedin.com/jobs/search/?currentJ...,Indonesia,11-50 employees,Legal Services 11-50 employees 25 on LinkedIn,"AWS Lambda, Amazon Redshift, Amazon Web Servic...",1 school alum works here,5+ years of work experience with Machine Learning,"Skills: Pandas (Software), TensorFlow, +8 more",Demandlane,5+ years of work experience with Machine Learning,Remote,Full-time
2,Computer Aided Design Engineer (U.S.-Based Cli...,Eterna Indonesia,13 applicants,https://www.linkedin.com/jobs/search/?currentJ...,Indonesia,51-200 employees,Outsourcing and Offshoring Consulting 51-200 ...,"3D Modeling, AutoCAD, Computer-Aided Design (C...","Skills: SketchUp, AutoCAD, +6 more","3D Modeling, AutoCAD, Computer-Aided Design (C...",Try Premium for IDR0,Eterna Indonesia,"3D Modeling, AutoCAD, Computer-Aided Design (C...",Remote,Full-time
3,"Software Engineer Full-time (AI, Video and Aud...",Videfly,13 applicants,https://www.linkedin.com/jobs/search/?currentJ...,Jakarta,2-10 employees,Software Development 2-10 employees 7 on Li...,"Amazon Web Services (AWS), Back-End Web Develo...","Skills: TypeScript, OpenGL, +8 more",1+ years of work experience with JavaScript,Try Premium for IDR0,Videfly,1+ years of work experience with JavaScript,Remote,Full-time
4,"Artificial Intelligence Engineer, 2 Hour Learn...",Crossover,13 applicants,https://www.linkedin.com/jobs/search/?currentJ...,Surabaya,"5,001-10,000 employees","IT Services and IT Consulting 5,001-10,000 em...","Angular, Artificial Intelligence (AI), Back-En...","Skills: Svelte, Flask, +8 more","Angular, Artificial Intelligence (AI), Back-En...",Try Premium for IDR0,Crossover,"Angular, Artificial Intelligence (AI), Back-En...",Remote,Full-time
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
259,Data Engineer Academic Instructor,Alterra Indonesia,4 applicants,https://www.linkedin.com/jobs/search/?currentJ...,Jakarta,201-500 employees,IT Services and IT Consulting 201-500 employe...,NaN,"Skills: Data Engineering, Presentations, +8 more","Communication, Computer Science, Data Engineer...",Try Premium for IDR0,Alterra Indonesia,"Communication, Computer Science, Data Engineer...",On-site,Full-time
260,Data Science Lead,Talent Insider,4 applicants,https://www.linkedin.com/jobs/search/?currentJ...,Jakarta,11-50 employees,"Technology, Information and Internet 11-50 em...",NaN,"Skills: Datasets, R (Programming Language), +8...","Analytical Skills, Analytics, Artificial Intel...",Try Premium for IDR0,Talent Insider,"Analytical Skills, Analytics, Artificial Intel...",On-site,Full-time
261,Senior Machine Learning,JULO,4 applicants,https://www.linkedin.com/jobs/search/?currentJ...,Jakarta,"501-1,000 employees","Financial Services 501-1,000 employees 812 ...",NaN,1 school alum works here,"Attention to Detail, Computer Vision, Credit A...","Skills: Machine Learning, Machine Learning Alg...",JULO,"Attention to Detail, Computer Vision, Credit A...",Hybrid,Full-time
262,Senior Data Analyst in MarTech (Relocation to ...,Bolt,17 applicants,https://www.linkedin.com/jobs/search/?currentJ...,Jakarta,"1,001-5,000 employees","Software Development 1,001-5,000 employees ...","A/B Testing, Business Insights, Data Analysis,...","Skills: Data Analytics, SQL, +7 more","A/B Testing, Business Insights, Data Analysis,...",Try Premium for IDR0,Bolt,"A/B Testing, Business Insights, Data Analysis,...",On-site,Full-time
263,Business Analytics Supervisor,Danone,17 applicants,https://www.linkedin.com/jobs/search/?currentJ...,Jakarta,"10,001+ employees","Food and Beverage Manufacturing 10,001+ emplo...",NaN,"Skills: Independent Contributor, Communication...","Analytical Skills, Analytics, Communication, D...",Try Premium for IDR0,Danone,"Analytical Skills, Analytics, Communication, D...",Hybrid,Full-time

In [4]:
df_uniq = df["Company Location"].value_counts()
# print(df_uniq, df['Company Location'].unique())
print(df['Company Location'].unique())

['Indonesia' 'Jakarta' 'Surabaya' 'Cikarang' 'Batang' 'Denpasar'
 'Yogyakarta' 'Malang' 'Bali' 'Pontianak' 'Kendal' 'Muarajawa' 'Tangerang'
 'Bekasi' 'Bandung' nan 'Pekanbaru' 'Medan' 'Lampung' 'Kuta' 'Ubud'
 'Jawa Timur']

In [5]:
df['Job Skill'] = df['Job Skills'] + ' ' + df['Job Skills.1'] + ' ' + df['Job Skills.2']
df = df.rename(columns={'Skills': 'Experience'})
df_clean = df.drop(columns=['ABOUT the Job','Location','hiring manager','Location Box', 'Number Of Employees','Profile','Qualifications','URL', 
                            'Job Skills', 'Job Skills.1', 'Job Skills.2','Industry', 'Industry_stats', 'Employee Experience Requirements'])
df_clean.head(2)

KeyError: "['ABOUT the Job', 'hiring manager', 'Location Box', 'Number Of Employees', 'Qualifications', 'Industry', 'Employee Experience Requirements'] not found in axis"

In [47]:
df_clean.isna().sum()

Job Title               0
Company Name           11
Account Name            0
Company Location        2
company size           12
Job Qualifications    161
Experience             19
Type                    2
Work Hours              3
Job Skill              19
dtype: int64